<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title> About </title>
</head>
<body>
    <div class="container text-center">
        <h2> This is random password generator by varsey </h2>
        <br>
        <a href="{%  url 'home' %}" class="btn btn-warning"> Home </a>
    </div>
</body>
</html>